.utility-container {
	.hidden {
		display: none !important;
	}

	.modal {
		background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
		position: fixed;
		width: 100%;
		height: 100%;
		display: table;

		.container {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}

		.body {
			box-shadow: 5px 10px rgba($color: #000, $alpha: .5);
			background-color: white;
			display: flex;
			flex-direction: column;
			border: 1px solid black;
			padding: 50px;
			border-radius: 25px;

			.top {
				display: inline-flex;
				justify-content: space-between;

				.controls {
					position: relative;

					.header {
						font-size: xx-large;
					}

					.lists {
						display: flex;

						.properties {
							min-width: 500px;
							ul {
								max-height: 475px;
								overflow: scroll;
								overflow-x: hidden;

								li {
									display: flex;
									width: 475px;
									justify-content: center;

									input {
										width: 400px;
									}

									button {
										border-radius: 0 10px 10px 0;
									}
								}
							}

							.add {
								button {
									width: 100px;
									margin: 20px 0;
									border-radius: 25px;
								}
							}
						}

						.notes {
							textarea {
								width: 500px;
								margin: 0 40px;
								max-height: 475px;
							}
						}
					}

					.image {
						position: absolute;
						bottom: 0;
						width: 100%;

						.warning {
							color: $red;
							padding: 0 0 20px 0;
						}

						[type="file"] {
							display: none;
						}

						[type="file"] + label {
							font-size: 20px;

							&.file-button {
								border-radius: 25px;
							}
						}
					}
				}

				.canvas-container {
					position: relative;
					width: 750px;
					height: 750px;
					border: 1px solid grey;

					canvas {
						position: absolute;
						top: 0;
						left: 0;
						width: 750px;
						height: 750px;
					}

					.canvas-controls {
						position: absolute;
						top: 0;
						left: 0;
						background-color: $blue;
						padding: 5px;
						border-radius: 3px;
						color: $white;

						label {
							margin: 0;
							padding: 0 5px 0 10px;
						}
					}
				}
			}

			.close-save {
				width: 300px;
				border-radius: 50px;
				font-size: 30px;
				margin: 0 auto;
			}
		}
	}
}
