.utility-container {
	justify-content: center;
	width: 41.66667%;

	.product-selector {
		background-color: purple;
		width: 100%;
		height: 10%;
		margin: 0 auto;
		padding-bottom: 10px;
		border-right: 4px solid grey;
		border-left: 4px solid grey;
	}
}
